

// Colors
$primary-color: #111D3E;
$secondary-color: white;


// Gradients
$gradient-one: linear-gradient(90deg, #AFF0FF 0%, #6046FF 50%, #00DDEB 100%);
$gradient-two: linear-gradient(90deg, #111D3E 0%, #2E4377 50%, #5A7CFF 75%, #A1C4FF 100%);


// Font-sizes
$section-title: 64px;
$section-subtitle: 14px;
