@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
        font-family: "Quicksand", sans-serif !important;
  }

  html, body {
    overflow-x: hidden; 
  }

  h1, h2, h3, p, span, button, placeholder, form, input, select, textarea{
    font-family: "Quicksand", sans-serif !important;
  }
  
  