.header-stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1; 
  overflow: hidden;
}

.hero-stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 0; 
  overflow: hidden;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
}