.socialContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.icon {
  font-size: 1.5rem;
}
